Create new diagram for Protocol Description

RFC5730 section 2 (Protocol Description) contains a diagram showing the server state.

do we need a new image showing the server in a restfull mode?

not doing this