Is REPP a transport or something else?

Does REPP satisfy all the requirements from rfc5730 section 2.1

if not, is it something more complex than just a transport?
such as a seperate API that is recycling elements of the epp rfcs?

see 5730 sec 2.1

-  The transport mapping MUST be onto a transport, such as TCP
      [[RFC0793](https://www.rfc-editor.org/rfc/rfc0793)] or Stream Control Transmission Protocol (SCTP)
      [[RFC4960](https://www.rfc-editor.org/rfc/rfc4960)], that provides congestion avoidance that follows [RFC](https://www.rfc-editor.org/rfc/rfc2914)
      [2914](https://www.rfc-editor.org/rfc/rfc2914) [[RFC2914](https://www.rfc-editor.org/rfc/rfc2914)]; or, if it maps onto a protocol such as SMTP
      [[RFC5321](https://www.rfc-editor.org/rfc/rfc5321)] or Blocks Extensible Exchange Protocol (BEEP) [[RFC3080](https://www.rfc-editor.org/rfc/rfc3080)],
      then the performance issues need to take into account issues of
      overload, server availability, and so forth.

It probably is a protocol mapping

add text.

[@!RFC5730, section 2.1] of the EPP protocol specification describes considerations to be addressed by a transport or protocol mapping. These considerations are satisfied by a combination of REPP features and features provided by HTTP protocol and underlying transport protocols.